.left{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    margin-top: 50px;
    h1{
        font-size: 65px;
        width:390px;
        margin: 0;
    }
    p{
        width: 350px;
        color: rgb(86, 88, 89);

    }
    button{
        color: white;
        background-color: black;
        height: 40px;
        width: 120px;
        border-radius: 10px;
    }

}